@* loginPage Template File *@
@(loginForm: Form[(String, String)])

@import play.api.i18n.Messages

@main("Login"){
	
	<div class="alert alert-success">
		<h1>Login</h1>
	</div>
	
	<div class="well">	
	
	<form method="POST" action='@routes.Auth.loginAuth' class="form-horizontal">
  	 <div class="control-group">
    	<label class="control-label" for="inputUsername">Auth ID</label>
		    <div class="controls">
		      <input type="text" id="inputUsername" name="username" placeholder="Username">
		      @loginForm.error("username") match{
		      	case Some(error) =>{
		      		 <span class="alert alert-error">@Messages(error.message)</span>
		      	}
		      	case None =>{}
		      }
		    </div>
    </div>
    
  	<div class="control-group">
      <label class="control-label" for="inputPassword">Password</label>
       <div class="controls">
	      <input type="password" id="inputPassword" name="password" placeholder="Password">
	       @loginForm.error("password") match{
	      	case Some(error) =>{
	      		 <span class="alert alert-error">@Messages(error.message)</span>
	      	}
	      	case None =>{}
	      }
      </div>
  	</div>
  	
	  <div class="control-group">
	    <div class="controls">
	      <!--<label class="checkbox">
	        <input type="checkbox"> Remember me
	      </label>-->
	      <button type="submit" class="btn">Login</button>
	    </div>
	  </div>
	</form>
	
	@loginForm.globalErrors.map{ error =>
		<div class="alert alert-error">@Messages(error.message)</div>
	}
	
	</div>
}