@(title: String)(content: Html)

<!DOCTYPE html>
<html>
<head>
    <title>@title</title>
    <link rel='shortcut icon' type='image/png' href='@routes.Assets.at("images/favicon.png")'>
    <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))'>
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
    <style>
    body {
    	background-color: #aaccff;
        margin-top: 50px;
        
    }
    <!-- background: url('@routes.Assets.at("images/nature.jpg")');
        background-size: cover;
        opacity:0.6;
        background-repeat:no-repeat; -->
    </style>
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a id="titleLink" class="brand" href="/">Democracy</a>
                
                <ul class="nav">
                	<li><a href="/signup">Signup</a></li>
                </ul>
                
            </div>
        </div>
    </div>
    <div class="container">
        @content
    </div>
</body>
</html>
